@using CanteenSystem.Dto.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@model CanteenSystem.Web.ViewModel.HomeModel
@using IdentityModel;
@{
    ViewData["Title"] = "Home Page";
    var userClaimId = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.UserData);
    var userId = userClaimId == null ? 0 : Convert.ToInt32(userClaimId.Value);
}
<style>
    .home-wrapper p {
        margin-top: 50px;
        font-size: large !important;
    }

    .home-login-banner {
        background: linear-gradient(90deg, rgb(2 0 36 / 25%) 0%, rgba(9,86,121,1) 35%, rgba(0,212,255,1) 100%);
        padding: 15px 0;
        text-align: center;
        color: white;
    }

    .home-banner {
        height: 350px;
        position: relative;
    }
</style>
<div class="text-center home-wrapper">
    @if (SignInManager.IsSignedIn(User) && User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Student"))
    {
        <h1 class="display-4">Your available balance: £@(Model.AvailableBalance)</h1>
    }
    else if (SignInManager.IsSignedIn(User) && User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Parents"))
    {
        <h1 class="display-4">Your child's available balance: £@(Model.AvailableBalance)</h1>
    }
    else
    {
        <h1 class="display-4">Welcome to canteen reservation system</h1>
    }
    <!-- Small boxes (Stat box) -->
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">

            @if (SignInManager.IsSignedIn(User) && User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Student"))
            {
                <!-- ./col -->
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-cyan" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3>Meals</h3>

                            <p>View all meals</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-pie-graph"></i>
                        </div>
                        <a href="/mealmenus/studentMeallist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-green" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3>Orders</h3>

                            <p>View your Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/orders/studentorder/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->

                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-teal" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> Balance</h3>

                            <p>View your Fund details</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/cards/student/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <!-- ./col -->
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-warning" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3>Profile</h3>

                            <p>View your Personal Information</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/ShowUserProfile/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>


            }
            else if (SignInManager.IsSignedIn(User) && User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Admin"))
            {
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-green" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3>Orders</h3>

                            <p>View all Available Orders</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/orders" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-warning" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> Profile</h3>

                            <p>View your Personal Information</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/ShowUserProfile/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-cyan" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> All Users</h3>

                            <p>View your user details</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/userprofiles" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-teal" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> Meal List</h3>

                            <p>View existing meal list</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/mealmenus" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

            }
            else
            {
                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-warning" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> Profile</h3>

                            <p>View your Personal Information</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                        <a href="/ShowUserProfile/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-6 col-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-teal" style="margin: 10px 60px">
                        <div class="inner" style="height:150px">
                            <h3> Balance</h3>

                            <p>View your child's Account Balance</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="/cards/parent/@(userId)" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            }
            <!-- ./col -->
        </div>
        <!-- /.row -->
    }
    else
    {
        <div class="home-banner">
            <img src="./images/home-page1.png"  style=" height: 340px; width: 100%;"class="img" />
        </div>

        <div class="home-login-banner">
            <a class="btn btn-default" href="/login">Go to login</a>
        </div>
    }
</div>
